*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

}

body{
    line-height: 1.5;
    font-family: Montserrat;
}

html{
    scroll-behavior: smooth;
}

/* h2--Headings--Style */
.heading{
    font-size: clamp(1.5rem, 4vw, 3rem);
    text-align: center;
}

/*--Home--Icon--*/
#home_icon{
    margin-top: auto;
}



/* HERO---SIZE--STYLE */
#home_section, #about_section, .contact-section, #education_section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

/* HEADER---CONTENT---STLE */
.header{
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
    background-color: var(--bg-clr);
}

/*---LOGO---*/

.logo .mobile_menu{
    display: none;
}
.logo strong{
    font-size: 2rem;
    color: var(--font-clr);
}

/*---LINKS---*/

.nav-menu .links{
    position: relative;
    display: flex;
    gap: 2em;
}

.nav-menu .links li a{
    display: inline-block;
    text-decoration: none;
}


/*---CV--BUTTON---*/

.cv-button .download-cv-button{
    padding: 1em;
    width: 150px;
    cursor: pointer;
    background: transparent;
}

/* MAIN--CONTENT---STYLE*/

/* Hero--Section--Headings */
.hero-section-headings{
    line-height: 1.3;
}

.hero-section-headings h1{
   font-size: clamp(1.5rem, 4vw, 3rem);
    margin-bottom: 0.3em;
}

.hero-section-headings h2{
    font-size: clamp(1rem, 1.8vw, 2.5rem);
    margin-bottom: 0.5em;
}

.hero-section-headings h3{
   font-size: clamp(1rem, 1.5vw, 2rem);
}

/* Hero--Section--Buttons*/
.hero-content-buttons button{
    padding: .8em;
    margin-top: 2em;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

.list_icons{
    display: flex;
    flex-direction: row;
    gap: 1em;
    max-width: 60%;
    margin-top: 2em;
}

.list_icons .icon{
    border: 1px solid #303030;
    border-radius: 50%;
    padding: .8em;
}



/* PROJECTS---SECTION */

/* ABOUT---ME---SECTION */
.about-section-wrapper{
min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    gap: 2em;
}

.about_image img{
    border-radius: 15px;
}

.about_description{
    max-width: 60ch;
    margin: auto 0;
    padding: 1em;
}

.about_description h2, h3{
    margin-bottom: .8em;
}


/* EDUCATION---SECTION*/
.education-section-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 2em;
    margin-top: 2em;
}

.section-description{
    text-align: center;
    font-size: 1.4rem;
    margin: .8em auto;
}

ul li{
    list-style: none;
}

/* CONTACT--SECTION */
form{
    padding: 1em;
    min-width: 30%;
    border: 1px solid #303030;
    margin-top: 1.5em;
}

.section-description{
    max-width: 35ch;
}

input, 
textarea{
    width: 100%;
}


/* FOOTER-SECTION */
.footer-wrapper{
    display: flex;
    justify-content: center;
    padding: 1.2em;
}

.aside-content{
    display: flex;
    justify-content: space-between;
    min-width: 100%;
}

.footer-description{
    max-width: 30ch;
}

.footer-icon-link{
    display: flex;
    gap: 1em;
    margin-top: .8em;
}

.footer-icon-link li{
    border: 1px solid #303030;
    border-radius: 50%;
    padding: .8em;
}

.copyright{
    text-align: center;
}


/* MOBILE--RESPONIVE--DESIGN */
@media (max-width: 376px) {
    /* HEADER-CONTENT */
    /* Logo--display */
    .logo strong{
        display: none;
    }

    .logo .mobile_menu{
        display: block;
    }

    /* Menu--display */
    .nav-menu .links{
        display: none;
    }

    /* CV--button--display */
    .cv-button .download-cv-button{
        display: none;
    }

    /* ABOUT--ME--SECTION */
    .about-section-wrapper{
        display: flex;
        flex-direction: column;
    }
    .card{
        max-width: 100%;
    }

    /* EDUCATION-SECTION */
    .education-section-wrapper{
        display: flex;
        flex-direction: column;
    }

    /* FOOTER-CONTENT */
    .quick-links{
        display: none;
    }

    .footer-icon-link li{
    border: 1px solid #303030;
    border-radius: 50%;
    padding: .5em;
}
}